@charset "UTF-8";

.header {
	z-index: 100;
	border-bottom: 1px solid #d1d8e4;
	background: #fff;
}

.section-top {
	position: relative;
	height: 130px;
}
.top-area {
	position: relative;
	margin: 0 auto;
	width: 1080px;
	height: 100%;
}

.section-navbar {
	position: relative;
	height: 46px;
	border-top: 1px solid #f1f3f6;
	background: #fff;
}
.navbar-area {
	position: relative;
	margin: 0 auto;
	width: 1080px;
	zoom: 1;
}

.header-item-ul {
	width:740px;
	height: 46px;
	float: left;
}
.header-item-li {
	margin-left: 50px;
	position:relative;
	display: inline;
	top: 15px;
}

.header-info {
	height: 46px;
	width: 332px;
	float: right;
}
.header-info-txt {
	position:relative;
	float: right;
	top: 15px;
	margin-right: 50px;
}