<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.score.mapper.UserMapper">

	<insert id="register">
		INSERT INTO user (userID, userName, userNickName, userPassWord) 
		VALUES (#{userID}, #{userName}, #{userNickName}, #{userPassWord})
	</insert>
	
	<select id="registerCheck" resultType="UserVO">
		SELECT * FROM user WHERE userID = #{userID}
	</select>
	
	<select id="login" resultType="UserVO">
		SELECT * FROM user where userID = #{userID} and userPassWord = #{userPassWord}
	</select>

</mapper>